.none-2Eo-qx {
    scrollbar-width: auto !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    margin-right: 2px;
}

.none-2Eo-qx:hover::-webkit-scrollbar {
    width: 0.30em !important;
    border-radius: 25px;
    height: 0px !important;
    background: transparent !important;
    
}

.none-2Eo-qx::-webkit-scrollbar-thumb {
    background: var(--background-accent);
    border-radius: 25px;
}

/* == jsyk it's installed uwu == */
a.embedTitle-3OXDkz[href*="https://kckarnige.is-a.dev/server-scroll"]:after, a.embedTitle-3OXDkz[href*="https://github.com/kckarnige/server-scroll"]:after {
    content: "Installed";
    background: var(--brand-experiment);
    border-radius: 4px;
    margin-left: 5px;
    padding-right: 3px;
    padding-left: 3px;
    color: #fff;
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: 500;
    white-space: nowrap;
    position: relative;
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}

a.embedTitle-3OXDkz[href*="https://kckarnige.is-a.dev/server-scroll"]:hover:after, a.embedTitle-3OXDkz[href*="https://github.com/kckarnige/server-scroll"]:hover:after {
    background: var(--brand-experiment-560);
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}
